pddl_exp_v1
saves/
/exp*/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python distribution/packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

*.json
spinbench/tasks/connect4/c4solver
spinbench/tasks/connect4/connect4_solver/.depend
spinbench/tasks/connect4/connect4_solver/c4solver
results/